<!-- Login form start here -->


	<div class = "modal fade" id = "login" role = "dialog">
		<div class = "modal-dialog">
			<div class = "modal-content">
				<form class = "form-horizontal" id="login-form">
					<div class = "modal-header">
						<h4>Welcome to Seeker!</h4>
					</div>


					<div class = "modal-body">

						<div class = "form-group">

							<label for = "login-name" class = "col-lg-2 control-label">Name:</label>
							<div class = "col-lg-10">

								<input type = "text" class = "form-contol" id = "login-name" placeholder = "name">
							</div>
						</div>

						<div class = "form-group">

							<label for = "login-password" class = "col-lg-2 control-label">Password:</label>
							<div class = "col-lg-10">

								<input type="password" class = "form-contol" id = "login-password" placeholder = "Password">
							</div>
						</div>

					</div>


					<div class = "modal-footer row ">
						<div class = "col-xs-4">
							<a class = "btn btn-success pull-left" type = "submit" data-dismiss = "modal" href="#sign-up" data-toggle="modal">Sign up</a>
						</div>
						<div class = "col-xs-1">
						</div>
						<div class = "col-xs-3">
							<a class = "btn btn-default" data-dismiss = "modal">Close</a>
						</div>
						<div class = "col-xs-3">
							<a class = "btn btn-primary" id="loginRequestSubmitButton" type = "submit">Login</a>
						</div>
						<div class = "col-xs-1">
						</div>
					</div>

				</form>


			</div>
		</div>
	</div>




	<div class = "modal fade" id = "sign-up" role = "dialog">
		<div class = "modal-dialog">
			<div class = "modal-content">
				<form class = "form-horizontal" id="sign-up-form">
					<div class = "modal-header">
						<h4>Welcome to Seeker!</h4>
					</div>


					<div class = "modal-body">

						<div class = "form-group">

							<label for = "sign-up-name" class = "col-lg-2 control-label">Name:</label>
							<div class = "col-lg-10">

								<input type = "text" class = "form-contol" id = "sign-up-name" placeholder = "name">
							</div>
						</div>

						<div class = "form-group">

							<label for = "sign-up-email" class = "col-lg-2 control-label">Email:</label>
							<div class = "col-lg-10">

								<input type = "text" class = "form-contol" id = "sign-up-email" placeholder = "you@example.com">
							</div>
						</div>



						<div class = "form-group">

							<label for = "sign-up-password" class = "col-lg-2 control-label">Password:</label>
							<div class = "col-lg-10">

								<input type="password" class = "form-contol" id = "sign-up-password" placeholder = "Password">
							</div>
						</div>

						<div class = "form-group">

							<label for = "sign-up-password-confirm" class = "col-lg-2 control-label">Confirm Password:</label>
							<div class = "col-lg-10">

								<input type="password" class = "form-contol" id = "sign-up-password-confirm" placeholder = "Confirm Password">
							</div>
						</div>

					</div>


					<div class = "modal-footer row ">
						<div class = "col-xs-5">
						</div>
						<div class = "col-xs-3">
							<a class = "btn btn-default" data-dismiss = "modal">Close</a>
						</div>
						<div class = "col-xs-3">
							<a class = "btn btn-primary" id="newAccountCreateButton" type = "submit">Creat</a>
						</div>
						<div class = "col-xs-1">
						</div>
					</div>

				</form>


			</div>
		</div>
	</div>


<!-- Login form end here -->