<!doctype html>

<html>
<head>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">

	<title>Seeker.</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="contain">
		<div class="navbar">
			<div class="nav-link">About</div>
			<div class="nav-link"><a href="/found">Found</a></div>
			<div class="nav-link"><a href="/lost">Lost</a></div>
			<div class="nav-link"><a href="/">Home</a></div>
			<div class="navbar-brand"><img src="http://i57.tinypic.com/wbf4nl.jpg"></div>
		</div>

		<div class="title">
			<h1>seeker.</h1>
			<h2>YOUR TRITON LOST & FOUND</h2>

			<div class="buttons">
				<i>Welcome to the UCSD Seeker app.</i><br><br>

				This application aims to connect students who have lost or found<br>
				items on campus. By providing a centralized location for posting about<br>
				missing items, we can <b>minimize search times</b> for busy UCSD students.<br><br>

				Navigate our site using the tabs in the bar above.<br>
				The <b>Lost</b> button will bring you to posts regarding recently lost items.<br>
				Similarly, the <b>Found</b> button will bring up posts about recently found items.<br>
				Use the <b>Search</b> feature if you are looking for something specific.
			</div>
		</div>
	</div>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hci-friends.js"></script>
</body>
</html>
